@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");



* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: grey;
  font-family: helvetica;
  font-size: 40px;
  color: #FFFFFF;
  margin: 0%;
  text-shadow: 3px 6px 3px #585858;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* li {
	text-align: center;
} */

.main-nav {
	display: block;
	margin: 0 auto;
	padding-top: 30px;

}

.main-nav a, .main-footer a {
	background-color: rgb(71, 71, 74);
	color: #fff;
	text-align: center;
	padding: 10px;
	border-bottom: solid 2px #fff;
	display: block;
	text-transform: uppercase;

}

.container {
	margin: auto;
	margin-top: 100px;
	position: relative;
}

.main-header {
	width: 100%;
	height: 100px;
	background-color: grey;
	position: fixed;
	top: 0;
	z-index: 10;
	text-align: center;
}

h1 {
  font-size: 200px;
  margin: 0px;
}

h2 {
	font-size: 3em;
  padding: 10px;
  margin: 0px;
}

p {
  font-size: 2em;
	font-family: roboto;
  line-height: 30px;
  max-width: 400px;
  padding: 10px;
  margin: 0;
	background-color: rgba(171, 178, 185, 0.45);
	border-radius: 5px;
}

.caja {
  margin: 0%;
  padding: 0%;
  border: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 900px;
	clear: both;
}

#fondo1 {
  background-image: url(../img/rs7_culo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#fondo2 {
  background-image: url(../img/rs7_exterior.jpg);
}

#fondo3 {
  background-image: url(../img/rs7_exterior2.jpg);
}

#fondo4 {
  background-image: url(../img/rs7_exterior3.jpg);
}

#fondo5 {
  background-image: url(../img/rs7_interior.jpg);
}

#fondo6 {
  background-image: url(../img/rs7_interior2.jpg);
}


.derecha {
  float: right;
  text-align: right;
}

.titulo-derecha {
  text-align: right;
}



@media (min-width: 600px) {
	body {
		font-size: 13px;
	}

	.toggle-nav {
		display: none;
	}

	.container {
		width: 100%;
	}

	.main-nav {
		overflow: hidden;
		display: block;
	}

	.main-nav li {
		width: 15%;
		float: left;
		margin: 0 0.83%;
	}

}


@media (min-width: 900px) {

	.toggle-nav {
		display: none;
	}

	.container {
		width: 100%;
	}


	.main-nav {
		overflow: hidden;
		display: block;
	}

	.main-nav li {
		width: 15%;
		float: left;
		margin: 0 0.83%;
	}

	.banner {
		display: block;
		margin: 30px 0.83% 0;
	}


/*
.grisado {
	background-color: rgba(251, 252, 252, 0.3);
} */

/* Al aplicar P.A. y P.F. el elemento, asúme que no hay un
width especificado, por lo tanto, si el contenedor no tiene
contenido su ancho será igual a cero. */
/*
.chat-box {
	width: 300px;
	height: 350px;
	background-color: rgb(132, 200, 64);
	position: fixed;
	right: 20px;
	bottom: -300px;
	border-radius: 10px 10px 0 0;
	transition: 2000ms;
}

.chat-box:hover {
	bottom: 0;
	background-color: red;
} */
