body {
	background-color: rgb(217, 217, 226);
	font-family: sans-serif;
}

.container {
	max-width: 900px;
	border: solid 5px red;
	margin: 0 auto 100px;
}

.container-tall {
	height: 800px;
}

.box {
	width: 300px;
	height: 120px;
	line-height: 120px;
	font-size: 5em;
	text-align: center;
	color: white;
}

.box-sm {
	width: 120px;
	height: auto;
}

.bg-orange {
	background-color: orange;
}
.bg-purple {
	background-color: purple;
}
.bg-yellow {
	background-color: yellow;
}
.bg-light-blue {
	 background-color: lightblue;
}
.bg-pink {
	background-color: pink;
}

.dF {
	display: flex;
}

.fW {
	flex-wrap: wrap;
}

.fWR {
	flex-wrap: wrap-reverse;
}

.fdRR {
	flex-direction: row-reverse;
}

.fdC {
	flex-direction: column;
}

.fdCR {
	flex-direction: column-reverse;
}

.jcFE {
	justify-content: flex-end;
}

.jcC {
	justify-content: center;
}

.jcSB {
	justify-content: space-between;
}

.jcSA {
	justify-content: space-around;
}

.aiFS {
	align-items: flex-start;
}

.aiC {
	align-items: center;
}

.aiFE {
	align-items: flex-end;
}
